body{
    margin: 4em 6em;
    box-sizing: border-box;
    overflow: hidden;
}

.container{
    display: flex;
    justify-content: flex-start;
    gap: 1.5em;
}

.imgActive{
    width: 80em;
    border-radius: 3em;
    background-position: center;
    position: relative;
    cursor: pointer;
    transition: 0.8s ease-in-out;
}

.img{
    width: 8em;
    height: 53em;
    border-radius: 3em;
    background-position: center;
    position: relative;
    cursor: pointer;
    transition: 0.8s ease-in-out;
}

h3{
    color: #ffff;
    vertical-align:text-bottom;
    position: absolute;
    bottom: 1px;
    left: 1em;
    font-family: Sans-serif;
    font-size: x-large;
    font-weight: 500;
}

.img h3{
    display: none;
}

/* h1{
    font-family: Sans-serif;
    font-size: 3em;
    margin: 0 0 10px;
    font-weight: 200;
    color:dimgrey;
} */